.dateHeader {
  color: #fa8072;
  grid-template-columns: 10fr 1fr 1fr;
  font-size: 20px;
  padding: 5px;
  display: grid;
}

.dateHeader button {
  display: grid;
  background-color: mistyrose;
  margin: 0 2px;
  border: none;
}

.calendarContainer {
  display: grid;
}

.header {
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 25px;
  display: grid;
}

.week {
  grid-auto-rows: 100px;
  grid-template-columns: repeat(7, 1fr);
  display: grid;
}

.day {
  border: 1px solid mistyrose;
  padding: 5px;
}

.movies {
  font-size: 10px;
}
